In [1]:
import pandas as pd
import glob

In [11]:
for name in glob.glob('E:\\piaic\\Ai\\quarter2\\Nasir Hussain\\Assignment\\*.csv'):
    print (name)

E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\inventory.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states0.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states1.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states2.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states3.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states4.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states5.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states6.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states7.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states8.csv
E:\piaic\Ai\quarter2\Nasir Hussain\Assignment\states9.csv

In [31]:
path = 'E:\\piaic\\Ai\\quarter2\\Nasir Hussain\\Assignment\\' # use your path
all_files = glob.glob(path + "/states*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
  ##  print (li)

us_census = pd.concat(li,  ignore_index=True)

print(us_census.dtypes)

Unnamed: 0     int64
State         object
TotalPop       int64
Hispanic      object
White         object
Black         object
Native        object
Asian         object
Pacific       object
Income        object
GenderPop     object
dtype: object

In [32]:
us_census.head()

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Alabama,4830620,3.7516156462584975%,61.878656462585%,31.25297619047618%,0.4532312925170065%,1.0502551020408146%,0.03435374149659865%,$43296.35860306644,2341093M_2489527F
1,1,Alaska,733375,5.909580838323351%,60.910179640718574%,2.8485029940119775%,16.39101796407186%,5.450299401197604%,1.0586826347305378%,$70354.74390243902,384160M_349215F
2,2,Arizona,6641928,29.565921052631502%,57.120000000000026%,3.8509868421052658%,4.35506578947368%,2.876578947368419%,0.16763157894736833%,$54207.82095490716,3299088M_3342840F
3,3,Arkansas,2958208,6.215474452554738%,71.13781021897813%,18.968759124087573%,0.5229197080291965%,1.1423357664233578%,0.14686131386861315%,$41935.63396778917,1451913M_1506295F
4,4,California,38421464,37.291874687968054%,40.21578881677474%,5.677396405391911%,0.40529206190713685%,13.052234148776776%,0.35141038442336353%,$67264.78230266465,19087135M_19334329F

In [35]:
df['New_income'] = df['Income'].str.extract(r'(\d+.\d+)').astype('float')

df['New_income']

0    63488.917808
1    55602.967213
2    72866.013412
3    64493.767684
4    41437.111570
5    53898.889209
Name: New_income, dtype: float64